body {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

.container {
  padding: 3% 15% 8%;
}

/* Navigation Bar */

.navbar {
padding: 0 0;
}

.brandname {
font-family: "Ubuntu";
font-size: 2.5rem;
font-weight: bold;
}

.nav-item {
padding: 0 20px;
}

.nav-link {
font-size: 1.1rem;
font-family: "Montserrat";
font-weight: lighter;
}

/* ----------------------------------------------- */

/* Title section */

#title {
  background-color: #ff4c68;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

}

.doggo {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.title-row {
  padding-top: 4.5rem;
  padding-left: 15px;
}

  /* Title Image */
@media (min-width: 1028px) {
  .tindog {
    width: 60%;
    transform: rotate(15deg);
    position: absolute;
  }
}

  /* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* ------------------------------------------------- */


/* Features section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.feature {
  padding-top: 7%;
  font-weight: bold;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/* ------------------------------------------------ */

/* Testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-inner {
  background-color: #ef8172;
}

.carousel-item {
  padding: 7% 15%;
}

.pebbles {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.dog {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* ------------------------------------------------ */

/* Press section */

#press {
  text-align: center;
  background-color: #e37e71;
  padding: 3%;
}

.companies {
  width: 15%;
  margin: 20px 20px 50px;
}

/* ------------------------------------------------ */

/* Pricing section */

#pricing {
  padding: 70px;
  text-align: center;
}

.price:hover {
  color: #bf2060;
}

.dogs {
  font-weight: bold;
}

/* ------------------------------------------------ */

/* CTA section */

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.ctah {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}

.cta-button {
  margin: 2% 3% 5% 0;
}

/* ------------------------------------------------- */

/* Footer */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.copyright {
  font-family: "Montserrat";
  font-weight: 500;
}

.socials {
  margin: 0 4% 3%;
}

.socials:hover {
  color: #eb4487;
}
